button {
  background-color: pink; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Space inside the button */
  border: none; /* Remove border */
  border-radius: 25px; /* Rounded shape */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px;
}
body {
  display: flex;
  color: deeppink;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full screen height */
  margin: 0; /* Remove default body margin */
  flex-direction: column; /* Stack title, text, and button */
  background-image: url(lp.jpg);
}
header {
  display: flex;
  color: deeppink;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 170vh; /* Full screen height */
  width: 170vh;
  margin: 0; /* Remove default body margin */
  flex-direction: column; /* Stack title, text, and button */

  background: image-set(pink);
}
div {
  text-align: center;
  border-style: hidden;
  border-block-color: pink;
  width: 350px; /* Set the desired width of the box */
  height: 75px; /* Set the desired height of the box */
  background-color: pink; /* Set the desired background color */
  border-radius: 20px; /* Optional: adds a border */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}
